#Remove the duplicates from list

In [ ]:
list=[2,3,6,6,8,9]
print(list)

[2, 3, 6, 6, 8, 9]

In [1]:
lst=[2,3,6,6,8,9]
lst=list(dict.fromkeys(lst))
print(lst)

[2, 3, 6, 8, 9]

#w a p p to check given char is ovels

In [53]:
ovels={'a','e','i','o','u'}
char='l'
if char in ovels:
    print("char is ovels")
else:
    print("char is not ovels")

char is not ovels

# veg and non veg items

In [47]:
order="chicken"

a=["chicken","mutton","fish"]
b=["dal","idli","roti"]
if order in a:
    print("non_veg "," item is available")
elif order in b:
    print("veg","item is available")
else:
    print("currently not available")

non_veg   item is available

#Find the common element between two list

In [55]:
a=[1,2,3,4,5,6]
b=[4,5,6,7,8,9]
c=set(a).intersection(set(b))
print(c)

{4, 5, 6}

#To captalize the first letter in a word

In [7]:
char="hello "
print(char.title())

Hello

#Find the length of a longest sentence word

In [9]:
char="srinivas"
print(len(char))

8

#Check if a list is empty or not

In [16]:
a=[3,4,5,6]
b=[]
if a:
    print("list is not empty")
else:
    print("list is  empty")
if  b:
    print("list is not empty")
else:
    print("list is  empty")

list is not empty
list is  empty

#Calculate the squre root of given number

In [42]:
a=80
print(a**0.5)

8.94427190999916

#Find the max number in a list

In [35]:
a=[1,2,3,4,5,6,6,80,80]
print(max(a))

80

#Replace the all occurance of a char in a string

In [44]:
a="dj tillu"
print(a.replace("t","b"))

dj billu